body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 360px;
    padding: 20px;
    background-color: #111;
    border: 1px solid #262626;
    text-align: center;
    border-radius: 8px;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    border: 1px solid #262626;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

button {
    padding: 10px;
    background: #0095f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background: #0073e6;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #aaa;
}

.or-divider span {
    flex: 1;
    height: 1px;
    background: #333;
}

.or-divider p {
    margin: 0 10px;
}

.fb-login {
    background: none;
    border: none;
    color: #0095f6;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    color: #0095f6;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}
